#viewController{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100px;
    img{
        width :20px;
        height:20px;
    }

}

tr{
    overflow-x: auto;
    height : 200px;
    
    th{
        div{
            height : 40px;
        }

    }

    td{
        div{
            div{
                display: flex;
                justify-content: space-between;
                
                
                height : 40px;
                
                span{
                    border-radius: 15px;
                    
                }
                .first_category{
                    background-color: rgb(131, 131, 96);
                }
            }
    
        }
    }

}

.recipeContainer{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
}

.inner{
    width :70%;
    margin : auto;
}