@media (min-width: 0px) {
    .recipeContainer
    {
        width : 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .RecipeItem_Container
        {
            // width : 286px;
            width : 45%;
            margin : 0 auto 0 auto;
            .RecipeItem_img {
                width: 70vw;
                height: 200px;
                // left : 88%;
            }
            .titleImg{
                width : 30px;
                height: 30px;
            }

        }
    }
}
@media (min-width: 576px) {

    
}

  
@media (min-width: 768px) {
    .recipeContainer
    {
        .RecipeItem_Container
        {
            width :30%;
            .RecipeItem_img {
                
                width: 100%;
                height: 80%;
                // left : 88%;
            }
            .titleImg{
                width : 30px;
                height: 30px;
            }
            
        }
        .RecipeItem_title
        {
            height : 29px;
            line-height: 25px;
        }
        .smallText
        {
            font-size : 10px;
        }
    }
}

@media (min-width: 992px) {
    
    .recipeContainer
    {
        width : 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .RecipeItem_Container
        {
            // flex :1;
        }
    }
}