$blue: #3498db;
*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
    list-style:none;
    
}

html {

}

body {
    margin : 0;
    font-size : 24px; 
    height :100%;
}
#root{
    height:100%
}

button {
    background-color:transparent;
    border :none;
}

ul{
    list-style:none;
    padding-left:0px;
}

.icon{
    width :45px;
    height : 45px;
}

#modeBtn {
    display: flex;
    position : fixed;
    left : 90%;
    top : 90%;
    padding: 0;
    flex-direction: row;
    img{
        width :45px;
        height : 45px;
        margin-right : 15px;
    }
}

.contents{
    width :100%;

}

#lightMode, #darkMode{
    width :100%;


}

#darkMode
{
    color: rgb(17, 17, 17);
    background-color: rgb(245, 239, 239);
    button
    {
        color: rgb(17, 17, 17);
        background-color: rgb(245, 239, 239);
    }

    #menuContainer{
        background-color: rgb(102, 197, 235);
    }

    .RecipeItem_Container{
        border :2px solid #000;
    }

    input{
        background-color: rgb(245, 239, 239);;
        color : rgb(17, 17, 17);
    }

    .rank_menu{
        border : 1px solid black; 
        background-color: rgb(245, 239, 239);
    }
}

#lightMode{
    background-color: rgb(17, 17, 17);
    color : rgb(245, 239, 239);
    button{
        background-color: rgb(17, 17, 17);
        color : rgb(245, 239, 239);
    }
    
    #menuContainer{   
        background-color: rgb(24, 78, 99);
    }

    .RecipeItem_Container{
        border :2px solid #fff;
    }

    input{
        background-color: rgb(17, 17, 17);
        color : rgb(245, 239, 239);
    }

    .rank_menu{
        border : 1px solid white; 
        background-color: rgb(17, 17, 17);
    }
}

.cursor{
    cursor: pointer;
}

.RecipeItem_Container{
    width :350px;
    border-radius:  10px;
    margin-bottom : 20px;

    p{
        margin :0;
    }
    img{
        width :350px;
        height :300px;
    }

    .star{
        width: 20px;
        height: 20px;
    }

    
    .titleImg{
        border-radius: 30px;
        width : 30px;
        height : 30px;
    }
    
}

#topBox{
    width: 70%;
    margin : auto;
}

.inner{
    width :70%;
    margin : auto;
    height: calc(100% - 100px)
}

.bHover:hover{
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
}

.blueBtn {
    border-color: $blue;
    color: #fff;
    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
    transition: all 150ms ease-in-out;
    border-radius: 5px;
    padding : 10px;

}

.twoBtn{
    width : 150px;
}

.oneBtn{
    width : 100%;
}