.menuContainer {
    background-color: rgba(255, 166, 0, 0.849);
    position: relative;
    height: 55px;
}
.standard{
    position: absolute;
    left: 25%;
    transform: translate(0, 50%);
    font-size: 18px;
}
.standRank{
    position: absolute;
    right: 25%;
    transform: translate(0, 50%);
    font-size: 18px;
}




// .search-group .searchBox{
//     // margin-left: 100px;
//     padding-right: 300px;
// }

// @media (min-width: 992px) {
//     // AddBundle.tsx
//     .search-group .searchBox{
//         // margin-left: 100px;
//         padding-right: 18vw;
//    }
    

// }



// #topBox{
//     height : 200px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     div input {
//         width : 600px;
//         height : 40px;
//         border-radius: 15px;
//         border : 3px solid skyblue;
//     }

//     #searchContainer{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
    
//     #iconContainer{
//         // width: 130px;
//         display: flex;
//         justify-content: space-around;
//     }
// }

// #menuContainer{
//     height: 80px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     font-size: 30px;
// }

