

@media (min-width: 0px) {
    .icon {
        width: 25px;
        height: 25px;
      }
}
@media (min-width: 576px) {


}

  
@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .icon {
        width: 20px;
        height: 20px;
        margin-left: 3px;
        margin-bottom: 1px;
    }
}