.inputForm input {
    background-color: #f5f5f5;
    padding: 6px 12px 6px 15px;
    display: inline;
  }

.my-custom-button{
    --bs-btn-bg: #fd7e14;

}

// .inputForm .inputMain,
// .inputForm .inputNote {
//     width: 240px;
// }

// .inputForm .inputQuantity,
// .inputForm .inputUnit {
//     width: 130px;
// }

// 어차피 웹 상에선 안 보임
@media (min-width: 0px) {
    // AddInput.tsx
    .inputForm{
        max-width: 90vw;
    }
    .inputForm .inputMain,
    .inputForm .inputQuantity,
    .inputForm .inputUnit,
    .inputForm .inputNote {
        width: 43vw;
        margin: 5px 3px 3px 3px;
    }
    .inputForm .inputUnit,
    .inputForm .inputNote{
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) {
    // AddInput.tsx
    .inputForm{
        max-width: 75vw;
    }
    .inputForm .inputMain,
    .inputForm .inputQuantity,
    .inputForm .inputUnit,
    .inputForm .inputNote {
        width: 35vw;
        margin: 6px 5px 3px 0px;
    }
    .inputForm .inputUnit,
    .inputForm .inputNote{
        margin-bottom: 10px;
    }
  
}

  
@media (min-width: 768px) {
    // AddInput.tsx
    .inputForm{
        max-width: 62vw;
    }
    .inputForm .inputMain,
    .inputForm .inputQuantity,
    .inputForm .inputUnit,
    .inputForm .inputNote {
        margin: 5px 4px 7px 0px;
    }
    .inputForm .inputMain,
    .inputForm .inputNote {
        width: 15vw;
    }
    .inputForm .inputQuantity,
    .inputForm .inputUnit {
        width: 12vw;
    }
    
}

@media (min-width: 992px) {
    // AddInput.tsx
    .inputForm{
        max-width: 62vw;
    }
    .inputForm .inputMain,
    .inputForm .inputQuantity,
    .inputForm .inputUnit,
    .inputForm .inputNote {
        margin: 5px 6px 7px 0px;
    }
    .inputForm .inputMain,
    .inputForm .inputNote {
        width: 17vw;
    }
    .inputForm .inputQuantity,
    .inputForm .inputUnit {
        width: 12vw;
    }
}













// // AddBundle.tsx
// // .bundleContainer {
// //     // display: flex;
// //     // flex-direction: column; /* 세로 방향으로 정렬 */
// //     // margin: 20px;
// //     // 이자식때문에 추가 삭제 버튼 100%로 활성화되어서 가운데로 감 그래서 지움
// // }

// .inputRow {
//     display: flex;
//     align-items: center; /* 수직 정렬 */
//     // margin-bottom: 10px;
// }

// .nestedInputs {
//     margin-left: 170px; /* 들여쓰기 추가 */
//     // margin-bottom: 10px;
//     // margin-top: -10px;
// }

// .AddBundleTitle {
//     // 메인재료 inputbox
//     border: 1px solid #ccc; // 테두리 스타일 (선택 사항)
// }

// // AddInput.tsx
// // 각 재료 input 박스 사이 왼쪽 간격
// .addInput{
//     // margin-right: 10px; /* 입력 필드 사이에 10px 여백 추가 */
//     margin-left: 20px;
// }

// // AddStep.tsx
// .green_box{
//     border: 1px solid green;
//     padding: 10px;
// }

// .Addfunc{
//     border: 1px solid gainsboro;
//     margin-right: 10px;
//     padding: 5px;
  
// }

// .AddFunImg{
//     background-color: green !important;
//     color: white !important;
// }

// // .StepInput{
// //     width: 600px;
// //     height: 300px;
// // }