.InputAllBtn{
    position: relative;
    height: 40px;
}
.removeBtn{
    position: absolute;
}
.addBtn{
    position: absolute;
}

// .InputAllBtn .addBtn{
// padding-right: 15px;
// }
.inputForm input {
    background-color: #f5f5f5;
    padding: 6px 12px 6px 15px;
    display: inline;
  }

// .first-item-title + .form-rcpttl,
// .first-item-title + .form-ckinfo{
//     background-color: #f5f5f5;
//     padding: 6px 12px 6px 15px;
//     display: inline-block;
//     width: 30vw;
//     margin-bottom: 1vw;
//   }
.inputRow .AddBundleTitle{
    background-color: #fff5ed;
    width: 200px;
    margin-top: 20px;

}


// 425보다 클 때?
@media (min-width: 0px) {
    // AddBundle.tsx
    .InputAllBtn{
        max-width: 88vx;
    }
    .removeBtn{
        right : 7%;
    }
    .addBtn{
        left : 5%;
    }
    // AddInput.tsx
    .inputForm{
        max-width: 90vw;
    }
    .inputForm .inputMain,
    .inputForm .inputQuantity,
    .inputForm .inputUnit,
    .inputForm .inputNote {
        width: 43vw;
        margin: 5px 3px 3px 3px;
    }
    .inputForm .inputUnit,
    .inputForm .inputNote{
        margin-bottom: 10px;
    }
}

@media (min-width: 426px) and (max-width: 576px) {
    // .addBtn{
    //     left : 5%;
    // }
}

// 모바일 환경!!!!!!!!
@media  (max-width: 425px) {
    .dropdown-toggle {
        width: 20vw;
        // display: block;
    }
    
}

@media (min-width: 576px) {
    // AddBundle.tsx
    .InputAllBtn{
        max-width: 73vx;
    }
    .removeBtn{
        right : 7%;
    }
    .addBtn{
        left : 0%;
    }

    // AddInput.tsx
    .inputForm{
        max-width: 75vw;
    }
    .inputForm .inputMain,
    .inputForm .inputQuantity,
    .inputForm .inputUnit,
    .inputForm .inputNote {
        width: 34vw;
        margin: 6px 5px 3px 0px;
    }
    .inputForm .inputUnit,
    .inputForm .inputNote{
        margin-bottom: 10px;
    }
    .dropdown-toggle {
        width: 13vw;
    }
    
  
}

  
@media (min-width: 768px) {
    // AddBundle.tsx
    .InputAllBtn{
        max-width: 60vx;
    }
    .removeBtn{
        right : 5%;
    }
    // .addBtn{
    //     left : 0%;
    // }
    // AddInput.tsx
    .inputForm{
        max-width: 69vw;
    }
    .inputForm .inputMain,
    .inputForm .inputQuantity,
    .inputForm .inputUnit,
    .inputForm .inputNote {
        margin: 5px 4px 7px 0px;
    }
    .inputForm .inputMain,
    .inputForm .inputNote {
        width: 15vw;
    }
    .inputForm .inputQuantity,
    .inputForm .inputUnit {
        width: 11vw;
    }
    .dropdown-toggle {
        width: 9vw; 
    }

}

@media (min-width: 992px) {
    // AddBundle.tsx
    .InputAllBtn{
        max-width: 60vx;
    }
    .removeBtn{
        right : 7%;
    }
    .addBtn{
        left : 2%;
    }
    // AddInput.tsx
    .inputForm{
        max-width: 62vw;
    }
    .inputForm .inputMain,
    .inputForm .inputQuantity,
    .inputForm .inputUnit,
    .inputForm .inputNote {
        margin: 5px 6px 7px 0px;
    }
    .inputForm .inputMain,
    .inputForm .inputNote {
        width: 17vw;
    }
    .inputForm .inputQuantity,
    .inputForm .inputUnit {
        width: 12vw;
    }
    /* 기본 드롭다운 버튼의 너비를 설정 */
    .dropdown-toggle {
        width: 10vw; /* 원하는 비로 설정 (예: 200px) */
        // margin-left: 10px;
    }


}















// // AddBundle.tsx
// // .bundleContainer {
// //     // display: flex;
// //     // flex-direction: column; /* 세로 방향으로 정렬 */
// //     // margin: 20px;
// //     // 이자식때문에 추가 삭제 버튼 100%로 활성화되어서 가운데로 감 그래서 지움
// // }

// .inputRow {
//     display: flex;
//     align-items: center; /* 수직 정렬 */
//     // margin-bottom: 10px;
// }

// .nestedInputs {
//     margin-left: 170px; /* 들여쓰기 추가 */
//     // margin-bottom: 10px;
//     // margin-top: -10px;
// }

// .AddBundleTitle {
//     // 메인재료 inputbox
//     border: 1px solid #ccc; // 테두리 스타일 (선택 사항)
// }

// // AddInput.tsx
// // 각 재료 input 박스 사이 왼쪽 간격
// .addInput{
//     // margin-right: 10px; /* 입력 필드 사이에 10px 여백 추가 */
//     margin-left: 20px;
// }

// // AddStep.tsx
// .green_box{
//     border: 1px solid green;
//     padding: 10px;
// }

// .Addfunc{
//     border: 1px solid gainsboro;
//     margin-right: 10px;
//     padding: 5px;
  
// }

// .AddFunImg{
//     background-color: green !important;
//     color: white !important;
// }

// // .StepInput{
// //     width: 600px;
// //     height: 300px;
// // }